{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Здрасьте, "мы" - это на самом деле "я". Мое увлечение прослушиванием музыки дошло до такой степени, что я теперь начал делать сайт по альбому... Тем не менее, возможно, в будущем я сделаю
        еще несколько сайтов по моим любимым альбомам потехи ради, кто знает. Всем хорошего настроения и вкусного чая!</p>
        <button class="btn btn-danger">Попить чай</button>
    </div>
{% endblock %}